@import "../../shared/assets/variables";

.MuiContainer-root.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;
  box-shadow: 0 0 0.3rem 0 $box-shadow;
  padding: 2rem;
}